

#header{
    overflow: auto;
    height: 200px;
    width: 100%;
    background: white center center;
    
}

#name{
    text-align: center;
    font-family: Open Sans;
    font-size: 55px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 40px;
}

#kicker{
    font-family: Open Sans;
    font-weight: 700;
    text-transform: uppercase;
    width: 1px;
    margin: auto;
    overflow: visible;
    line-height: 1;
}

#kickerInner{
    margin-top: 18px;
    width:280px;
    margin-left: -130px;
}

#pageTitle{
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #95A5A6;
    z-index: 999;
}

.paragraphs{
    letter-spacing: .01rem;
    line-height: 1.6;
    font-family: Open Sans;
    margin-top: 150px;
    margin-bottom: 150px;
    max-width:70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.long_p{
    text-align: left;
}

.bigPhoto{
    display: block;
    width: 100%;
    max-width: 1300px;
	max-height: 800px;
    margin-left: auto;
    margin-right: auto;
}
.bigPhoto.resize{
    height: auto;
}

a.kickerLinks:link {
    color: black;
    text-decoration: none;
}

a.kickerLinks:visited {
    color: black;
}

a.kickerLinks:hover {
    color: #2980b9;
    font-size: 18px;
    transition:all linear 0.15s;
}
.tabContent{
    width: 100%;
}

#readMore{
    display: inline-block;
    text-decoration: underline;
}


#aboutText{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}

#me{
    display: block;
    width: 25%;
    min-width: 200px;
    max-width: 270px;
    border-radius: 3px;
    margin-left: auto;  
    margin-right: auto;
    margin-bottom: 20px;
}
