html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#header{
    overflow: auto;
    height: 400px;;
    width: 100%;
    background: url(img/header.JPG) center center;
    background-size: cover;
}

h1{
    text-align: center;
    font-family: Open Sans;
    font-size: 50px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    padding-top: 120px;
}

span{
    display: inline-block;
    padding: .2em .4em;
    border: black solid 8px;
    border-radius: 1px;
    background: rgba(255,255,255,0.3);
}

#kicker{
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    text-transform: uppercase;
    width: 310px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    background: rgba(255,255,255,0.2);
}

#photos_button{
    font-size: 16px;
    padding: .4em .8em;
    border: black solid 4px;
    border-radius: 1px;
}
#photos_button:hover {
    padding: 12px;
    font-size: 18px;
    transition:all linear 0.15s;
}

.paragraphs{
    letter-spacing: .01rem;
    line-height: 1.6;
    font-family: Open Sans;
    margin-top: 150px;
    margin-bottom: 150px;
    max-width:70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.long_p{
    text-align: left;
}

.main_image{
    display: block;
    width: 100%;
    max-width: 1300px;
	max-height: 800px;
    margin-left: auto;
    margin-right: auto;
}
.main_image.resize{
    height: auto;
}

.photos{
    display: block;
    max-width: 78%;
    max-height: 546px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.photos.resize{
    height: auto;
}

#canvas{
    width: 100%;
}

.pageTitle{
	color: white;
	position: fixed;
	top: 0;
	right: 0;
	text-align: right;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: lighter;
	letter-spacing: 1px;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #95A5A6;
    z-index: 999;
}

.white_space{
    height: 200px;
}


a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: #2980b9;
    font-size: 18px;
    transition:all linear 0.15s;
}